#!/usr/bin/env bash

PATH=$PATH:{{ item.value.install_dir }}/{{ item.value.package_path }}

# Override GOPATH if defined
{% if go_path is defined and go_path is not none and go_path | length %}
export GOPATH="{{ go_path }}"
{% endif %}
